@using eOnlineCarShop.ViewModels
@model List<ShowCarsVM>
@{
    ViewData["Title"] = "Index";
}

<h1>Vehicles sold</h1>
<hr />
@if (Model.Any())
{
    @foreach (var item in Model)
    {
        <div class="card mb-3">
            <div class="card-body text-dark">

                <img style="width: 20rem; height: auto;" src="@item.images.FirstOrDefault()" alt="slika" />

                <h5 class="card-title" ;>@item.Brand @item.CarModel </h5>
                <span>
                    CMM: @item.Ccm
                    Fuel: @item.Fuel
                    Transmission: @item.Transmission<br />
                    Colo: @item.Color<br />
                    Drive type: @item.DriveType<br />
                    Vehicle type: @item.VehicleType<br />
                    Seates: @item.NumberOfSeats<br />
                    Dors: @item.NumberOfDors<br />
                    Gears: @item.NumberOfGears<br />
                    Kilometre: @item.Kilometre<br />
                    Date: @item.DateOfManufacture<br />
                    PowerPS: @item.PowerPS<br />
                    PowerKw: @item.PowerKw<br />
                    Wheel size: @item.WheelSize<br />


                </span>
                <a class="btn btn-primary" asp-controller="Car" asp-action="PregledVozila" asp-route-carID="@item.CarId">More...</a>
                <a class="btn btn-primary" asp-controller="Report1" asp-route-CarId="@item.CarId" sap-action="Index">Prit</a>
            </div>
        </div>
    }

}