@using eOnlineCarShop.ViewModels;
@model List<ShowCarsVM>;

@if (Model.Any())
{
    @foreach (var item in Model)
    {
        <div class="card mb-3">
            <div class="card-body text-dark">
                <img style="width: 20rem; height: auto;" src="@item.images.FirstOrDefault()" alt="slika" />
                <h5 class="card-title">@item.Brand @item.CarModel </h5>
                <span>
                    CMM: @item.Ccm
                    Fuel: @item.Fuel
                    Transmission: @item.Transmission<br />
                    Colo: @item.Color<br />
                    Date: @item.DateOfManufacture<br />
                </span>
                <a class="btn btn-primary" asp-route-id="@item.CarId" asp-controller="Car" asp-action="RemoveById">Remove</a>
            </div>
        </div>
    }

}